.card_info-hero {
    z-index: 900;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    width: 15rem;
    height: 23rem;
    background-color: rgb(192, 192, 192);
    color: #222;
    border-radius: 10px;
    text-align: center;

    img {
        width: 100%;
        height: 180px;
        border-radius: 10px;
    }

    h2 {
        margin-bottom: 0.5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    
}